.skills-section {
    margin-top: 3em;
    width: 100%;
    text-align: center;
    margin-bottom: 3EM;
    padding-bottom: 3em;
    padding-top: 3em;
    background: #44A08D;

    background: -webkit-linear-gradient(to right, #093637, #44A08D);

    background: linear-gradient(to right, #093637, #44A08D);



    & h1 {
        color: white;
        font-size: 50px;
        text-shadow: grey 1px 0 10px;

    }

    & h2 {
        color: white;
        font-size: 30px;
        text-shadow: grey 1px 0 10px;
    }
}

.skills-section__container {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;

    .skills-section__container__img {
        height: 70px;
        width: 80px;
        object-fit: contain;
    }
}

.skills__list {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-top: 4em;

    .skills__category {
        width: 30%;
        padding: 10px;
        background: #000000;
        background: -webkit-linear-gradient(to right, #434343, #000000);
        background: linear-gradient(to right, #434343, #000000);
        border-radius: 10px;


        h3 {
            color: white;
            font-weight: bold;
            font-size: 30px;
        }

        ul {
            gap: 1em;
            display: flex;
            flex-direction: column;
            padding: 0;

            li {
                font-size: 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                font-weight: bolder;
            }
        }
    }
}

@media (max-width: 767px) {
    .skills__list {
        flex-direction: column;
        align-items: center;

        .skills__category {
            width: 80%;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 400px) {
    .skills__list .skills__category {
        width: 75%;
    }
}



@media (max-width: 767px) {
    .skills-section {
        & h1 {
            font-size: 40px;
        }

        & h2 {
            font-size: 25px;
        }
    }

    .skills-section__container {
        max-width: 100%;
        flex-wrap: Wrap;
        gap: 2em;
        margin-top: 2em;

        .skills-section__container__img {

            object-fit: contain;
        }
    }
}