.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('assets/marvin-meyer-SYTO3xs06fU-unsplash.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.2;
        z-index: 1;
    }

    .btn {
        z-index: 3;
        margin-bottom: 1em;
    }
}

.presentation__text {
    flex: 1;
    text-align: center;
    color: white;
    width: 70%;
    position: relative;
    z-index: 2;



    h1 {
        margin-bottom: 20px;
        font-size: 50px;
        text-shadow: grey 1px 0 10px;

        @media (max-width: 767px) {
            font-size: 35PX;
        }

        @media (max-width: 420px) {}
    }

    h2 {
        font-size: 40px;
        text-shadow: rgb(240, 240, 240) 1px 0 10px;
        box-shadow: 1px 1px 10px 10px #0be4aa;

        @media (max-width: 767px) {
            font-size: 30PX;
        }

        @media (max-width: 420px) {
            font-size: 25px;
        }
    }

    p {
        text-shadow: grey 1px 0 10px;
        font-size: 25px;
        line-height: 2em;
        text-align: center;
    }
}