@mixin centerRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin centerColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@mixin glow-effect-hover {
  &:hover {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    border: solid;
    border-width: 3px;
    border-color: white;
    text-shadow: rgb(240, 240, 240) 1px 0 10px;
    box-shadow: 1px 1px 10px 10px #0be4aa;
    color: rgb(240, 240, 240);
    cursor: pointer;
  }
}

@mixin card {
  @include centerColumn;
  @include glow-effect-hover;
  justify-content: flex-start;
  border-radius: 5px;
  height: 580px;
  width: 350px;
  border: solid;
  border-width: 2px;
  border-color: #0be4aa;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  position: relative;


  &__img {
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  & h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 0;
    text-align: center;
  }

  & p {
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 18px;
  }

  & .gitHub {
    height: 30px;
    width: 30px;
    margin: 1rem;
    border-radius: 3rem;
    padding: 3px;
    @include glow-effect-hover;
    position: absolute;
    bottom: -10px;
    left: 120px;
  }
}