@use "./components/Header/header.scss";
@use "./pages/Home/home.scss";
@use "./components/Presentation/presentation.scss";
@use "./components/Button/button.scss";
@use "./components/Contact/contact.scss";
@use "./components/Skills/skills.scss";
@use "./components/Card/card.scss";
@use "./components/Projects/projects.scss";
@use "./components/Modal/modal.scss";
@use "./components/Footer/footer.scss";

body {
    margin: 0;
    padding: 0;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);

}