@import '../../sass/utilities/mixins.scss';

.about {
    position: relative;

    .go-back {
        position: absolute;
        top: -45px;
        left: 5px;
        color: white;
        font-size: 30px;
        padding: 0.3em;

        &:hover {
            font-weight: bold;
            @include glow-effect-hover;
            color: white;
        }

    }

    h1 {
        font-size: 50px;
        text-shadow: grey 1px 0 10px;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        color: white;
        white-space: nowrap;

        @media (max-width: 520px) {
            font-size: 35px;
        }
    }

    .about__content {
        padding: 60px 20px;
        text-align: center;

        p {
            line-height: 1.5;
            font-weight: 500;
            color: #d6d6d6;
            font-size: 20px;
        }
    }


}