@import '../../sass/utilities/mixins.scss';



.projects {

    & h1 {
        color: white;
        font-size: 50px;
        text-shadow: grey 1px 0 10px;
        text-align: center;
    }

    &__container {

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    &__link {
        text-decoration: none;
    }

    &__left-section {
        @include card;
        margin-top: 4rem;

        ul {
            list-style-type: circle;

            color: white;
            font-size: 16px;
        }

    }

    &__center-section {
        @include card;
        margin-top: 10rem
    }

    &__right-section {
        @include card;
        margin-top: 10rem
    }
}